<ngx-charts-pie-chart
    [results]="District1ObjectCodeData"
    [legend]="true"
    [legendTitle]="Title"
    [legendPosition]="below"
    [view]="[1000,300]"
    [labels]="true" >
</ngx-charts-pie-chart>

  <ngx-charts-pie-chart
    [results]="District2ObjectCodeData"
    [legend]="true"
    [legendTitle]="compTitle"
    [legendPosition]="below"
    [view]="[1000,300]"
    [labels]="true" >
  </ngx-charts-pie-chart>

<ngx-charts-bar-vertical
  [results] = "columnChartData"
  [view]="[2000, 400]"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="'District'"
  [yAxisLabel]="'Proportion of Students Proficient in PEAKS ELA'">
</ngx-charts-bar-vertical>

<ngx-charts-bar-vertical-2d
  [results]="combinedObjectCodeData"
  [legend]="true"
  [legendTitle]="'Compare Two Districts'"
  [view]="[1000,300]" >
</ngx-charts-bar-vertical-2d>

