<mat-expansion-panel class="window">
    <mat-expansion-panel-header>
        <mat-panel-title>
        Compare with another district
        </mat-panel-title>
        <mat-panel-description>
        <mat-icon>list</mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div>
        <mat-form-field class="District" appearance="fill">
            <mat-label>School District</mat-label>
            <mat-select [(value)]="currentDistrict" (selectionChange)="districtUpdate()" required>
                <mat-option *ngFor="let sd of districts" [value]="sd.id" [ngClass]="{'greyed-out':sd.hasData}">{{sd.District_Name }}{{!sd.hasData?'':' (No data)'}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class="Year" appearance="fill">
            <mat-label>Fiscal Year</mat-label>
            <mat-select [(value)]="currentYear" [disabled]="this.currentDistrict==0" required>
                <mat-option *ngFor="let fy of fiscalYears" [value]="fy">{{fy}}</mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onUpdateButton()">Update</button>

        <app-district-profile [district]="district"></app-district-profile>

        <app-data-visualizations [objectCodeData]="objectCodeData"></app-data-visualizations>

    </div>

</mat-expansion-panel>