:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* *{
  background-color: ;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  color: #333;
  font-weight: 800;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 2px solid #333;
}

.toolbar img {
  margin: 0 150px;
  height: 60px;
  display: flex;
  align-items: center;
}

.content {
  margin: 82px auto 32px;
  padding: 0px 16px;
  flex-direction: column;
  align-items: center;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.nav-link {
  cursor: pointer;
}
