<ng-container *ngIf="district">

    <section>
        <h2>{{district.District_Name}}</h2>
    </section>

    <!-- <div class="sect"> -->
        <!-- <span class="sect_header"> -->
        <p><span class="bold">PEAKS </span>
        <span class="subtext">(Performance Evaluation for Alaska's Schools)</span></p>
        <!-- </span> -->

        <div class="left_div">
            <p #toolTip="matTooltip" matTooltip="English Langauge Art" matTooltipPosition="right">ELA <mat-icon class="info">info</mat-icon></p>
            <h4 #toolTip="matTooltip" matTooltip="Percentage of students proficient" matTooltipPosition="right">{{ela_bar_value}}% <mat-icon class="info">info</mat-icon></h4>
            <mat-progress-bar
                class="ela_bar"
                [color]="ela_bar_color"
                mode="determinate"
                [value]="ela_bar_value">
            </mat-progress-bar>
        </div>

        <div class="right_div">
            <p>Math</p>
            <h4 #toolTip="matTooltip" matTooltip="Percentage of students proficient" matTooltipPosition="left">{{math_bar_value}}% <mat-icon class="info">info</mat-icon></h4>
            <mat-progress-bar
                class="math_bar"
                [color]="math_bar_color"
                mode="determinate"
                [value]="math_bar_value">
            </mat-progress-bar>
        </div>
    <!-- </div> -->

    <!-- <div class="sect"> -->
        <h3 class="sect_header">Students</h3>

        <div class="left_div">
            <p>Teacher to student ratio</p>
            <h4>1:{{district.STRatio}}</h4>
        </div>

        <div class="right_div">
            <p>Number of students</p>
            <h4>{{district.TotalStudents}}</h4>
        </div>
    <!-- </div> -->

</ng-container>